body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(181, 212, 228);
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  text-align: center;
}

input {
  margin-top: 50px;
  margin-bottom: 30px;
}

button {
  border: 3px solid #8cc9e7;
  color: #000000;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.photo-card {
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  background: #8cc9e7;
}

img {
  width: 400px;
  height: 300px;
}

.photo-card-info {
  display: flex;
  justify-content: space-around;
  background: #8cc9e7;
}

.info-item {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
